.blog {

	.blogFlex {
		display: flex;
		flex-flow: row wrap;
		margin: 6rem 0;
	}

	.blogContainer {
		flex: 1 0 calc(31% - 6rem);
		margin-left: 3rem;
		position: relative;

		&:first-child {
			margin-left: 0%;
		}

		img:first-child {
			width: 100%;
			display: block;
		}
	}

	.bckground {
		position: relative;
		margin-bottom: 6rem;

		img { 
			width: 100%;
		}
	}

	.blogPhoto{
		width: 100%;
		display: flex;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
			
		h3.one , h3.two , h3.three , h3.four {
			width: 15rem;
			display: inline-block;
			margin: auto;
			padding: 6.5rem 0;
			border-radius: 50%;
			background-color: $hoverblue;
			color: #fff;
			transition: 0.5s;
		}

		img {
			width: 10rem;
			height: 10rem;
			position: absolute;
			left: calc(50% - 5rem);
			bottom: -5rem;
			border-radius: 50%;
			border: 0.3rem solid $blue;
			transition: 0.5s;
		}

		.photoHover {
			padding: 2rem;
			padding-top: 9rem;
			position: absolute;
			top: 2rem;
			right: 2rem;
			bottom: 2rem;
			left: 2rem;
			opacity: 0;
			background: $hoverblue;
			transition: 0.8s;

			img {
				display: block;
				width: 8rem;
				height: 8rem;
				border-radius: 50%;
				border: 2px solid white;
				margin-left: calc(18% - 4rem);
				top: 1rem;			
			}

			p:nth-child(5) {
				font-style: normal;
			}

			p {
				color: #fff;
				line-height: 2.4rem;
			}

			&:hover {
				opacity: 1;
			}
		}		
	}
// MEDIA QUERIES - RESPONSIVE DESIGN
// @1420PX
	@media (max-width: 1040px) {
		.blogPhoto .photoHover {
			padding-top: 6rem;
		}

		.blogPhoto .photoHover img {
		 	height: 6rem;
		 	width: 6rem;
		 	margin-left: calc(18% - 3rem)
		}
	}

// @980px
	@media (max-width: 980px) {
		.blogFlex {
			margin: 6rem 3rem;
			display: block;
		}

		.blogContainer {
			width: 100%;
			margin: 0;

			.bckground{
				width: 100%;
			}

			.bckground img{
				width: 50%;
			}
		}

		.blogPhoto {
			width: 100%;
		}

		.blogPhoto h3 {
			opacity: 1;
		}

		.blogContainer .photoHover {
			width: 50%;
			padding: 13rem 3rem 5rem;
			position: relative;
			right: 1rem;
			top: 0;
			left: 0;
			opacity: 1;
		}

		.blogContainer .photoHover img {
			width: 8rem;
			top: 2.5rem;
		}

		.blogPhoto .photoHover img {
			margin: 0;
			width: 10rem;
			height: 10rem;
			left: calc(50% - 5rem);
		}
	}

	.blogContainer p:last-child, .blogContainer h3:nth-child(2), .blogPhoto img  {
		display: none;
	}

// @768PX
@media (max-width: 768px) {
	.blogContainer {
		margin-top: 5rem;
	}

	.photoHover {
		display: block;
	}

	.blogPhoto .photoHover img {
		left: -5rem;
		top: -5rem;
	}

	.blogPhoto .photoHover p {
		padding: 0;
		margin: 0;
	}

	.blogContainer .photoHover {
		padding: 12% 3rem;
	}
}
// @710px
@media (max-width: 710px){
	.blogContainer .photoHover {
		padding: 8% 3rem;
	}
}

// @650px
@media (max-width: 650px) {

	.blogFlex {
		display: block;
	}

	.blogContainer {
		flex: 1 0 100%;
		margin-top: 0;

		h3, p {
			display: block;
		}
	}

	.bckground {
		display: block;
		flex: 1 0 100%;
	}

	.blogPhoto .photoHover, .blogContainer .bckground img{
		width: 100%;
		display: block;	
	}

	.blogContainer .bckground img {
		margin: 0 auto;
	}

	.blogPhoto {
		position: relative;
	}

	.blogPhoto h3:first-child {
		position: absolute;
		top: -85%;
		left: calc(50% - 7.5rem);
	}

	.blogPhoto .photoHover{
		padding: 5rem 2rem;
	}

	.blogPhoto .photoHover img {
		display: none;
	}

	.blogContainer .bckground .blogPhoto img {
		opacity: 1;
		width: 10rem;
		height: 10rem;
		z-index: 3;
		top: -5rem;
		}
	}
}

	

