.expertContainer {
	margin: 10rem auto 0;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

.expertFlex, .responsive {
	flex: 1 0 calc(25% - 9rem);
	margin-left: 3rem;
	padding: 1rem 0;

	div {
		width: 8rem;
		height: 8rem;
		display: flex;
		margin: 0 auto;
		border-radius: 50%;
		border: 3px solid $blue;
		transition: 0.8s;
	}

	div:hover {
		background: $blue;
	}

	i {
		padding: 1rem;
		margin: auto;
	}

	div.circle {
		width: 7.4rem;
		height: 7.4rem;
		border-radius: 50%;
		border: 3px solid #fff;
	}
}

.expertFlex:first-child {
	margin: 0;
}
// MEDIAQUERIES & RESPONSIVE DESIGN
// @940PX
@media (max-width: 940px) {

	.expertContainer {
		margin: 6rem auto 0;
	}

	.expertFlex:first-child {
		margin: 2rem 3rem;
	}

	.expertFlex {
		flex: 1 0 calc(50% - 9rem);
		margin: 2rem 3rem;

		div {
		margin: 0 auto;
		}
	}
}
// @480PX
	@media (max-width: 480px) {
		.expert .responsive {
			margin: 0 2.5rem;
		}

		.expertContainer {
			display: none;
		}

		.expert .responsive {
			display: flex;
			flex-flow: row wrap;
		}

		.responsive summary {
			width: 100%;
			position: relative;
		}

		.responsive summary div, .responsive summary h3{
			flex: 1 0 50%;
			margin: 0;
			text-align: left;
		}
		
		.responsive summary h3 {
			position: absolute;
			top: calc(50% - 1rem);
			right: 4rem;
		}

		.responsive details summary::before {
			top: calc(50% - 3.5rem); 
		}

		.responsive summary div {
			width: 6rem;
			height: 6rem;
		}

		.responsive summary  div.circle {
			width: 5.4rem;
			height: 5.4rem;
		}

		.responsive details p {
			border: 2px solid $blue;
			border-top: 0 solid transparent;
			padding: 3rem;
			margin: 0;
		}
	}