
footer {
	background: $darkgrey;
	padding: 10rem 0;

	.footerContainer {
		display: flex;
		margin-bottom: 2rem;
		align-items: flex-start;
		flex-flow: row wrap;
	}

	.footerOne, .footerTwo, .footerThree, .footerFour {
		flex: 1 0 calc(25% - 9rem);
		margin-right: 3rem;

		ul {
			padding: 0;
		}

		ul li {
		list-style: none;
		}

		h3 {
			padding-top: 0;
			margin-top: 0;
			margin-bottom: 2.5rem;
		}
	}

	.footerFour {
		margin-right: 0;

		p {
			padding-right: 0.5rem;
			margin-bottom: 5rem;
			line-height: 2rem;
			letter-spacing: 0.1rem;
		}

		ul {
			display: flex;
			flex-flow: row wrap;
		}

		li {
			display: flex;
			margin: 0.5rem;
			border-radius: 50%;
			border: 2px solid #fff;
			width: 4rem;
			height: 4rem;
		}

		a {
			margin: auto;
		}

		li:hover  {
			border: 2px solid $blue;
		}

		li:hover a {
			color: $blue;
		}
	}

	.footerThree ul{
		display: flex;
		flex-flow: row wrap;

		li {
			flex: 0 1 25%;
			margin: 0.5rem;
			padding: 0.5rem 0;
			text-transform: none;
			background: $lightgrey;
		}

		a {
			padding: 0.7rem;
			text-decoration: none;	

			&:hover {
				background: $blue;
			
			}
		}
	}

	.footerTwo {

		ul {
			list-style-position: inside;
		}

		li {
			position: relative;
			text-transform: none;
			font-family: "Playfair Display";
			padding: 1rem;
			padding-left: 2.5rem;
		}

		li:first-child {
			padding-top: 0;
		}

			li:before {
    		content: "◼ ";
    		color: $blue;
    		font-size: 1rem;
    		padding-right: 1rem;
    		position: absolute;
    		left: 0;
		}
	}

	.footerOne {

		li {
			flex: 1 0 10%;
		}
	}
// MEDIAQUERIES - Responsive Design
// @940px
	@media (max-width: 940px) {
		.footerContainer {
			margin: 0 2rem;
			display: block;
		}

		.footerOne, .footerTwo, .footerThree, .footerFour {
			width: calc(50% - 4rem);
			margin-top: 4rem;
		}

		.footerTwo, .footerThree {
			margin-right: 0;
		}

		.footerThree {
			margin-right: 2rem;
		}

		.footerFour {
			li {
				width: 4rem;
				height: 4.5rem;
				margin-right: 0.5rem;
			}
		}

		.footer .footerFour a {
			font-size: 2rem;
		}
	}

	@media (max-width: 480px) {
		.footerContainer {
			display: block;
		}

		.footerOne, .footerTwo, .footerThree, .footerFour {
			margin: 4rem auto;
			width: 90%;
		}
	}
}