nav {
	display: flex;
	padding: 3rem 0;
	align-items: center;
	top: 0;

	& > * {
		justify-content: space-between;
	}

	.navLogo {
		flex: 1 0 35%;
		padding-left: 2rem;
	}

	.navigation {
		flex: 1 0 65%;
		display: flex;
		justify-content: space-around;
		align-items: center;

		label {
			margin-right: 2rem;
			padding: 1rem;
		}
		
		input[type=checkbox]:checked ~ ul {
			opacity: 0;
		}

		input[type=checkbox] {
			display: none;
		}

		img {
			width: 1.5rem;			
			position: relative;
			top: 0.2rem;
		}

		ul {
			width: calc(100% - 2rem);
			display: flex;
			justify-content: space-between;
			padding: 0;
			list-style: none;
			order: -1;
			opacity: 1;
			transition: 0.5s;
		}

		li {
			flex: 1 0 14%;
		}

		a {
			padding: 1.3rem 1.8rem;
			border: 3px solid transparent;
			transition: 0.5s;

			&:hover {
				border: 3px solid $white;
			}
		}
	}

// MEDIAQUERIES & Responsive Design
// @940px
	@media (max-width: 940px) {
		.navLogo {
			flex: 1 0 20%;
		}
	
		.navigation {
			flex: 1 0 80%;
			justify-content: flex-end;
		}

		.navigation input[type=checkbox]:checked +  ul {
			opacity: 1;
		}

		.navigation ul {
			justify-content: flex-end;
			opacity: 0;
		}
	}
}
// @900px
	@media (max-width: 900px) {
		nav {
			width: 100%;
			margin: 0 ;
			padding-bottom: 0;
			position: fixed;
			left: 0;
			top:0;
			background : $headergrey;
			z-index: 10;
		}

		nav .navLogo {
			position: fixed;
			padding-left: 2rem;
		}

		nav .navigation {
			width: 100%;
			flex-direction: column;
			align-items: flex-end;
		}

		nav .navigation label {
			right: 2rem;
		}

		nav .navigation ul {
			width: 100%;
			margin: 0;
			padding-left: 100px;
			display: none;
			order: 1;
			right: 0;
			opacity: 1;
			text-align: center;
			background: #fff;
		}

		nav .navigation li {
			padding: 0.5rem;
			background: #fff;
			float: left;
		}

		nav .navigation a {
			color: $grey;
		}

		nav .navigation a:hover{
			border: 3px solid transparent;
		}

		nav .navigation li a:focus{
			color: $blue;
		}

// @850px
	@media (max-width: 850px){
		nav .navigation ul{
			padding-left: 50px;
		}
	}
// @745px
	@media (max-width: 745px){
		nav .navigation ul {
			flex-direction: column;
			background: #fff;
			padding: 2rem;
		}

		nav .navigation li {
			float: none;
		}
	}
}

 

 
