.numberSection {
	background: linear-gradient(rgba(47,48,53, 0.5),
	rgba(47,48,53, 0.5)),
	url(../images/bg1.jpg);
	background-attachment: fixed;
	background-size: cover;
	
	.numberFlex {
		padding: 5rem;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;

		p {
			margin: 0;
			font-weight: 700;
			color: white;
			font-style: italic;
			padding: 2.5rem 0;
		}

		p:nth-child(2) {
			font-size: 3rem;
		}
	}

	.number div {
		display: flex;
		justify-content: center;

		p {
			margin: 0;
			display: inline-block;
		}
	}
// MEDIAQUERIES & Responsive Design
// @ 768px
	@media (max-width: 768px) {
		.number{
			flex: 1 0 50%;
			text-align: center;
		}
	}

// @480px
	@media (max-width: 480px) {
		.numberFlex {
		justify-content: space-around;
		}
	}
// @400px
	@media (max-width: 400px){
		.numberFlex{
			display: block;
		}
		.number {
			width: 100%;
		}
	}
}
