.partnerSection {
	background: $lightgrey;

	.wrapperFlex {
		display: flex;
		align-items: baseline;
		flex-flow: row wrap;
		padding: 5rem;
	}

	.partnerLogo {
		flex: 1 0 10%;

		img {
			width: 80%;
		}
	}
// MEDIAQUERIES
	@media (max-width: 768px) {
		.partnerLogo {
			flex: 1 0 50%;
			text-align: center;
			
			img {
				width: 40%;
				padding: 1rem 0;
			}
		}
	}
}