.partnerSection {
	background: $lightgrey;

	.wrapperFlex {
		display: flex;
		padding: 5rem;
		align-items: baseline;
		flex-flow: row wrap;
	}

	.partnerLogo {
		flex: 1 0 10%;

		img {
			width: 80%;
		}
	}

	@media (max-width: 768px) {
		.partnerLogo {
			flex: 1 0 50%;
		}
	}
}