.section {
	margin-top: 10rem;
	text-align: center;

	h4, .dot svg {
		padding: 0;
	}

	h4 {
		margin: 2rem 0;
	}

	.dot svg {
		margin-left: 0.6rem;
	}

	.dot svg:first-child {
		margin-left: 0;
	}
}