
.serviceContainer {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	margin: 6rem auto;

	.service {
		flex: 1 0 calc(33.3% - 4rem);
		display: flex; 
		flex-flow: row wrap;
		align-items: flex-start;
		text-align: left;
		margin: 2rem;
	}

	.serviceText {
		flex: 1 0 62%;

		h3 {
			margin: 0 0 1rem;
		}

		p {
			margin: 0;
		}
	}

	.serviceLogo {
		width: 8rem;
		height: 8rem;
		margin:0 2rem;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		border: 3px solid $blue;
		transition: 0.8s;
	}

	.serviceLogo:after{
		content: '';
		display: block;
		padding-bottom: 100%;
	}

	div.serviceLogo:nth-child(3n-2) {
		margin-left: 0;
	}

	div.circle {
		width: 7.4rem;
		height: 7.4rem;
		display: flex;
		position: relative;
		padding: 0.5rem;
		border: 3px solid #fff;
		border-radius: 50%;
	}

	i {
		padding: 1rem;
		margin: auto;
	}

	div.serviceLogo:hover {
		background: $blue;
		color: #fff;
	}

	div.serviceLogo:hover i {
		color: #fff;
	}

	@media (max-width: 940px) {
		div.serviceLogo:nth-child(3n-2) {
    		margin-left: calc(50% - 4rem)
    	}

		.service {
			width: calc(50% - 6rem);
			display: block;
			margin: 2rem 3rem;
		}

		.serviceLogo{
			margin-left: 0 auto;
			text-align: center;
		}

		.serviceText {
			margin-top: 2rem;
			text-align: center;
		}
	}
}

	@media (max-width: 480px) {
		.service .responsive {
			margin: 0 2.5rem 10rem;
		}
		 .serviceContainer {
			display: none;
		}
		
		.service .responsive {
			display: block;
		}
	}

