summary::-webkit-details-marker {display: none}

summary {
	padding: 1rem;
	border-bottom: 2px solid $blue;
	position: relative;
}
summary:focus {
	outline: 2px solid transparent;
}

details summary::before {
  content: '+';
  width: 10px;
  display: inline-block;
  margin-left: 10px;
  font-size: 4rem;
  float: right;
  position: absolute;
  right: 0.5rem;
  top: -0.08rem;
}

details[open] summary::before {
  content: '-';
  font-size: 4rem;
}

.responsive {
	display: none;
}
